<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Customers" | translate }}</ion-title>
    <ion-buttons end *ngIf="(cust_Permission == undefined || cust_Permission == true) || isSuperAdminStatus">
      <button ion-button icon-only (click)="openAddCustomerModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="callSearch($event)" (ionClear)="onClear($event)"></ion-searchbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'Pull to refresh' | translate}}"
      refreshingSpinner="circles" refreshingText="{{'Refreshing...' | translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div *ngFor="let item of CustomerArraySearch">
      <ion-item>
        <!-- <ion-fab right edge>
          <button ion-fab mini clear (click)="onClickChat(item)">
            <ion-icon name="chatboxes"></ion-icon>
          </button>
        </ion-fab> -->
        <ion-thumbnail item-start>
          <img src="assets/imgs/user.png" alt="item.Device_Name">

          <ion-row style="margin-top: 37%;font-size: 20px;">
            <ion-col col-4>
              <ion-icon name="trash" style="color: #b9002f;" (tap)="DelateCustomer(item._id)"></ion-icon>
            </ion-col>
            <ion-col col-1></ion-col>
            <ion-col col-4>
              <ion-icon name="clipboard" style="color: #e48099;" (tap)="reportSetting(item)"></ion-icon>
            </ion-col>
            <ion-col col-1></ion-col>
          </ion-row>

          <!-- <ion-icon name="trash" style="margin-left: 41%;margin-top: 37%;font-size: 30px;color: #b9002f;"
            (tap)="DelateCustomer(item._id)"></ion-icon> -->
        </ion-thumbnail>
        <div (tap)="switchUser(item._id)">
          <p>
            <span ion-text color="dark">{{ "Name:" | translate }} </span> {{item.first_name}}&nbsp;{{item.last_name}}
          </p>
          <p>
            <span ion-text color="dark">{{ "Email:" | translate }} </span> {{item.email}}</p>
          <p>
            <span ion-text color="dark">{{ "Phone:" | translate }} </span>
            <a href="tel:{{item.phone}}">{{item.phone}}</a>
            <!-- <button ion-button color="light" (tap)="dialNumber(item.phone)"><ion-icon name="call"></ion-icon>&nbsp;{{item.phone}}</button> -->
          </p>
          <p>
            <span ion-text color="dark">{{ "Password:" | translate }} </span>{{item.pass}}</p>
          <p>
            <span ion-text color="dark">{{ "Created On:" | translate }} </span>{{item.created_on | date:'short'}}</p>
          <p>
            <span ion-text color="dark">{{ "Total Vehicles:" | translate }} </span>
            <span ion-text color="danger">{{item.total_vehicle}}</span>
          </p>
        </div>
        <p>
          <button ion-button small (click)="openupdateCustomersModal(item)">{{ "Edit" | translate }}</button>
          <button ion-button small (click)="openAdddeviceModal(item)">{{ "Add Vehicle" | translate }}</button>
          <button ion-button small (click)="CustomerStatus(item)"
            *ngIf="item.status == true">{{ "Active" | translate }}</button>
          <button ion-button small color="danger" (click)="CustomerStatus(item)"
            *ngIf="item.status != true">{{ "InActive" | translate }}</button>
          <button ion-button small (click)="onClickChat(item)">{{ "Chat" | translate }}</button>
        </p>
      </ion-item>
    </div>

  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>