<ion-header>
    <ion-navbar>
        <ion-title>{{'Add Customer' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>
    <form [formGroup]="addcustomerform">

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">{{'User ID*' | translate}}</ion-label>
            <ion-input formControlName="userId" type="text"></ion-input>
        </ion-item>

        <ion-item class="logitem1"
            *ngIf="!addcustomerform.controls.userId.valid && (addcustomerform.controls.userId.dirty || submitAttempt)">
            <p>{{'user id required!' | translate}}</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">{{'First Name*' | translate}}</ion-label>
            <ion-input formControlName="Firstname" type="text"></ion-input>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addcustomerform.controls.Firstname.valid && (addcustomerform.controls.Firstname.dirty || submitAttempt)">
            <p>{{'first name required!' | translate}}</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">{{'Last Name*' | translate}}</ion-label>
            <ion-input formControlName="LastName" type="text"></ion-input>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addcustomerform.controls.LastName.valid && (addcustomerform.controls.LastName.dirty || submitAttempt)">
            <p>{{'last name required!' | translate}}</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">{{'Email ID*'|translate}}</ion-label>
            <ion-input formControlName="emailid" type="email"></ion-input>
        </ion-item>
        <!-- <ion-item class="logitem1" *ngIf="!addcustomerform.controls.emailid.valid && (addcustomerform.controls.emailid.dirty || submitAttempt)">
            <p>{{'email id required!' | translate}}</p>
        </ion-item> -->
        <div *ngIf="submitAttempt && frm.emailid.errors" class="logitem1">
            <ion-item *ngIf="frm.emailid.errors.required">
                <p class="logitem1">
                    <ion-icon name="information-circle"></ion-icon>&nbsp;&nbsp;Email is required!
                </p>
            </ion-item>
            <ion-item *ngIf="frm.emailid.errors.email">
                <p class="logitem1">
                    <ion-icon name="information-circle"></ion-icon>&nbsp;&nbsp;Email must be a valid email address!
                </p>
            </ion-item>
        </div>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">{{'Select country*' | translate}}</ion-label>
            <ion-select style="float: right;max-width: 100%;" formControlName="std_code">
                <ion-option *ngFor="let con of countryCodeArray" [value]="con.code" (ionSelect)="onSelect(con)">
                    {{con.code}} {{con.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addcustomerform.controls.std_code.valid && (addcustomerform.controls.std_code.dirty || submitAttempt)">
            <p>{{'country code is required!' | translate}}</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">{{'Mobile Number*' | translate}}</ion-label>
            <ion-input formControlName="contact_num" type="tel" maxlength="10" minlength="10"></ion-input>
        </ion-item>
        <div *ngIf="submitAttempt && frm.contact_num.errors" class="logitem1">
            <ion-item *ngIf="frm.contact_num.errors.required">
                <p class="logitem1">
                    <ion-icon name="information-circle"></ion-icon>&nbsp;&nbsp;Mobile number is required!
                </p>
            </ion-item>
            <ion-item *ngIf="frm.contact_num.errors.minlength">
                <p class="logitem1">
                    <ion-icon name="information-circle"></ion-icon>&nbsp;&nbsp;Mobile number must be 10 digits!
                </p>
            </ion-item>
        </div>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">{{'Password*' | translate}}</ion-label>
            <ion-input formControlName="password" type="text"></ion-input>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addcustomerform.controls.password.valid && (addcustomerform.controls.password.dirty || submitAttempt)">
            <p>{{'Password required!' | translate}}</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">{{'Address*' | translate}}</ion-label>
            <ion-input formControlName="address" type="text"></ion-input>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addcustomerform.controls.address.valid && (addcustomerform.controls.address.dirty || submitAttempt)">
            <p>{{'Address required!' | translate}}</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">{{'Expire On' | translate}}</ion-label>
            <ion-input type="date" formControlName="ExipreDate" style="margin-left: -2px;" min="{{minDate}}">
            </ion-input>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addcustomerform.controls.ExipreDate.valid && (addcustomerform.controls.ExipreDate.dirty || submitAttempt)">
            <p>{{'Date of expiry required!' | translate}}</p>
        </ion-item>

        <ion-item *ngIf="isSuperAdminStatus">
            <ion-label>{{'Dealers' | translate}}</ion-label>
            <ion-select formControlName="dealer_firstname" style="min-width:49%;">
                <ion-option *ngFor="let dealer of selectDealer" [value]="dealer.dealer_firstname"
                    (ionSelect)="dealerOnChnage(dealer)">{{dealer.dealer_firstname | titlecase}}
                    {{dealer.dealer_lastname | titlecase}}</ion-option>
            </ion-select>
        </ion-item>

    </form>
</ion-content>
<ion-footer class="footSty">
    <ion-toolbar>
        <ion-row no-padding>
            <ion-col width-50 style="text-align: center;">
                <button ion-button clear color="light" (click)="addcustomer()">{{'ADD CUSTOMER' | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>