<ion-header>
    <ion-navbar>
        <ion-title>{{'addgroup' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>

    <form [formGroup]="groupForm">

            <ion-item>
                <ion-label fixed style="min-width: 50% !important;">{{'Group Name' | translate}}</ion-label>
                <ion-input formControlName="group_name" type="text"></ion-input>
            </ion-item>
            <ion-item class="logitem1" *ngIf="!groupForm.controls.group_name.valid && (groupForm.controls.group_name.dirty || submitAttempt)">
                <p>{{'group name is required' | translate}}</p>
            </ion-item>


            <ion-item>
                <ion-label>{{'Group Status' | translate}}</ion-label>
                <ion-select formControlName="status" style="min-width:50%;">
                    <ion-option *ngFor="let statusname of GroupStatus" [value]="statusname.name" (ionSelect)="GroupStatusdata(statusname)">{{statusname.name}}</ion-option>
                </ion-select>
            </ion-item>


            <ion-item>
                <ion-label fixed style="min-width: 50% !important;">{{'Address' | translate}}</ion-label>
                <ion-textarea formControlName="address"></ion-textarea>
            </ion-item>


            <ion-item>
                <ion-label fixed style="min-width: 50% !important;">{{'Email Id' | translate}}</ion-label>
                <ion-input type="email" formControlName="emailid"></ion-input>
            </ion-item>
            <ion-item class="logitem1" *ngIf="!groupForm.controls.emailid.valid && (groupForm.controls.emailid.dirty || submitAttempt)">
                <p>{{'please enter valid email id!' | translate}}</p>
            </ion-item>

            <ion-item>
                <ion-label fixed style="min-width: 50% !important;">{{'Mobile Number' | translate}}</ion-label>
                <ion-input type="number" minlength="10" maxlength="10" formControlName="mobno"></ion-input>
            </ion-item>
            <ion-item class="logitem1" *ngIf="!groupForm.controls.mobno.valid && (groupForm.controls.mobno.dirty || submitAttempt)">
                <p>{{'mobile number should be 10 digits!' | translate}}</p>
            </ion-item>
        </form>
<!-- </div> -->
<!-- </div> -->
</ion-content>
<ion-footer class="footSty">

    <ion-toolbar>
        <ion-row no-padding>
            <ion-col width-50 style="text-align: center;">
                <button ion-button clear color="light" (click)="addGroup()">{{'ADD GROUP' | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>
